@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darker text-slate-200 overflow-x-hidden font-sans;
    background-image: radial-gradient(circle at 50% 0%, #1e1b4b 0%, #020617 70%);
  }
}

.section-title {
  @apply relative inline-block pb-2 border-b-4 border-cyan-500 rounded-sm;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-darker;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-700 rounded-full hover:bg-cyan-500 transition-colors;
}

.nav-link {
  @apply relative;
}

.nav-link::after {
  content: '';
  @apply absolute left-0 -bottom-1 w-0 h-0.5 bg-cyan-400 transition-all duration-300;
}

.nav-link:hover::after {
  @apply w-full;
}